.vs/StudifyGameServer/v16/.suo
StudifyGameServer/bin/Debug/netcoreapp3.1/StudifyGameServer.dll
StudifyGameServer/bin/Debug/netcoreapp3.1/StudifyGameServer.pdb
StudifyGameServer/obj/Debug/netcoreapp3.1/StudifyGameServer.csprojAssemblyReference.cache
StudifyGameServer/obj/Debug/netcoreapp3.1/StudifyGameServer.dll
StudifyGameServer/obj/Debug/netcoreapp3.1/StudifyGameServer.pdb
